<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0" 
	id        = "nl.zuurstof.vwrl" 
	version   = "1.0" >

<name>Veilig werken rondom liften</name>

<description>Veilig werken rondom liften</description>

<author href="http://www.zuurstof.nl" email="info@zuurstof.nl">
Zuurstof B.V.
</author>

<icon src="icon.png" />

<splash src="img/splash/Android_320x480.9.png" platform="android" qualifier="mdpi" />
<splash src="img/splash/Android_480x800.9.png" platform="android" qualifier="hdpi" />
<splash src="img/splash/Android_720x1280.9.png" platform="android" qualifier="xhdpi" />
<splash src="img/splash/Android_1080x1920.9.png" platform="android" qualifier="xxhdpi" />
<splash src="img/splash/Android_1080x1920.9.png" platform="android" qualifier="xxxhdpi" />

<plugin name="cordova-plugin-whitelist" />
<plugin name="cordova-plugin-splashscreen" />

<access origin="*" />

<feature name="http://api.phonegap.com/1.0/network" />

<preference name="orientation" value="portrait" />
<preference name="target-device" value="handset" />
<preference name="SplashScreen" value="splash"/>
<preference name="SplashScreenDelay" value="2000"/>
<preference name="ShowSplashScreenSpinner" value="false" />

</widget>